RewriteEngine on
RewriteRule ^cindex\.html$ cindex.php [L]
RewriteRule ^community$ cindex.php [L]
RewriteRule ^bbsindex\.html$ bbsindex.php [L]
RewriteRule ^tree\.html$ tree.php [L]
RewriteRule ^main\.html$ main.php [L]
RewriteRule ^register\.html$ register.php [L]
RewriteRule ^login\.html$ login.php [L]
RewriteRule ^info-(.*)\.html$ info.php?info=$1 [L]
RewriteRule ^logout\.html$ logout.php [L]
RewriteRule ^listnote-([0-9]+)\.html$ listnote.php?typeid=$1 [L]
RewriteRule ^listnote-([0-9]+)-([0-9]+)\.html$ listnote.php?typeid=$1&page=$2 [L]
RewriteRule ^listnote-([0-9]+)-([0-9]+)-([0-9]+)\.html$ listnote.php?typeid=$1&flag=$2&page=$3 [L]
RewriteRule ^noteinfo-([0-9]+)\.html$ noteinfo.php?noteid=$1 [L]
RewriteRule ^noteinfo-([0-9]+)-([0-9]+)\.html$ noteinfo.php?noteid=$1&page=$2 [L]
RewriteRule ^noteinfo-([0-9]+)-([0-9]+)-t\.html$ noteinfo.php?noteid=$1&setjh=$2 [L]

RewriteRule ^noteinfo-([0-9]+)-([0-9]+)-zjda\.html$ noteinfo.php?noteid=$1&repid=$2 [L]

RewriteRule ^pubnote-([0-9]+)-([0-9]+)\.html$ pubnote.php?typeid=$1&flag=$2 [L]
RewriteRule ^pubnote-([0-9]+)-([0-9]+)-([0-9]+)\.html$ pubnote.php?noteid=$1&typeid=$2&flag=$3 [L]
RewriteRule ^replynote-([0-9]+)\.html$ replynote.php?noteid=$1 [L]
RewriteRule ^replynote-([0-9]+)-([0-9]+)\.html$ replynote.php?noteid=$1&ytype=$2 [L]
RewriteRule ^replynote-([0-9]+)-([0-9]+)-([0-9]+)\.html$ replynote.php?noteid=$1&replyid=$2&ytype=$3 [L]
RewriteRule ^replynote-([0-9]+)-([0-9]+)-T\.html$ replynote.php?noteid=$1&replyid=$2&isedit=T [L]
RewriteRule ^changeframe-([0-9]+)\.html$ changeframe.php?frametype=$1 [L]
RewriteRule ^delnoteandreply-(.*)-([0-9]+)\.html$ delnoteandreply.php?type=$1&id=$2 [L]
RewriteRule ^ucindex-(.*)\.html$ ucindex.php?netname=$1 [L]
RewriteRule ^changeface-(.*)\.html$ changeface.php?netname=$1 [L]
RewriteRule ^ucnote-([0-9]+)-(.*)\.html$ ucnote.php?page=$1&netname=$2 [L]
RewriteRule ^ucnote-(.*)\.html$ ucnote.php?netname=$1 [L]
RewriteRule ^ucorder-(.*)\.html$ ucorder.php?netname=$1 [L]
RewriteRule ^ucgrd-(.*)\.html$ ucgrd.php?netname=$1 [L]
RewriteRule ^ucmessage-([0-9]+)-(.*)\.html$ ucmessage.php?page=$1&netname=$2 [L]
RewriteRule ^ucmessage-(.*)\.html$ ucmessage.php?netname=$1 [L]
RewriteRule ^ucfriend-(.*)\.html$ ucfriend.php?netname=$1 [L]
RewriteRule ^server\.html$ server.php [L]
RewriteRule ^server$ server.php [L]
RewriteRule ^server-([0-9]+)\.html$ server.php?bccdtypeid=$1 [L]
RewriteRule ^bcjyz\.html$ bcjyz.php [L]
RewriteRule ^bcjyz$ bcjyz.php [L]
RewriteRule ^bcjyz-([0-9]+)\.html$ bcjyz.php?bccdtypeid=$1 [L]
RewriteRule ^bcjyz-([0-9]+)-([0-9]+)\.html$ bcjyz.php?bccdtypeid=$1&classid=$2 [L]
RewriteRule ^bcjyzinfo\.html$ bcjyzinfo.php [L]
RewriteRule ^bcjyzinfo-([0-9]+)\.html$ bcjyzinfo.php?bcjyzid=$1 [L]
RewriteRule ^bcjyzquestioninfo-([0-9]+)\.html$ bcjyzquestioninfo.php?id=$1 [L]
RewriteRule ^zpzs\.html$ zpzs.php [L]
RewriteRule ^bcx$ zpzs.php [L]
RewriteRule ^zpzs-([0-9]+)\.html$ zpzs.php?bccdtypeid=$1 [L]
RewriteRule ^zpzs-([0-9]+)-([0-9]+)-([0-9]+)\.html$ zpzs.php?bccdtypeid=$1&type=$2&type1=$3 [L]
RewriteRule ^zpzs-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+)\.html$ zpzs.php?bccdtypeid=$1&page=$2&page1=$3&type=$4&type1=$5 [L]
RewriteRule ^mrcz\.html$ mrcz.php [L]
RewriteRule ^itfyz$ mrcz.php [L]
RewriteRule ^morebcjyzquestion-([0-9]+)-([0-9]+)-([0-9]+)\.html$ morebcjyzquestion.php?bccdtypeid=$1&classid=$2&flag=$3 [L]
RewriteRule ^morebcjyzquestion-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+)\.html$ morebcjyzquestion.php?bccdtypeid=$1&classid=$2&flag=$3&page=$4 [L]
RewriteRule ^serverinfo-([0-9]+)\.html$ serverinfo.php?serverid=$1 [L]
RewriteRule ^questioninfo-([0-9]+)\.html$ questioninfo.php?questionid=$1 [L]
RewriteRule ^morequestion-([0-9]+)\.html$ morequestion.php?bccdtypeid=$1 [L]
RewriteRule ^morequestion-([0-9]+)-([0-9]+)\.html$ morequestion.php?bccdtypeid=$1&page=$2 [L]
RewriteRule ^replyvodinfo-([0-9]+)\.html$ replyvodinfo.php?vodid=$1 [L]
RewriteRule ^morereplyvod-([0-9]+)\.html$ morereplyvod.php?bccdtypeid=$1 [L]
RewriteRule ^morereplyvod-([0-9]+)-([0-9]+)\.html$ morereplyvod.php?bccdtypeid=$1&page=$2 [L]
RewriteRule ^morepicture-([0-9]+)\.html$ morepicture.php?bccdtypeid=$1 [L]
RewriteRule ^morepicture-([0-9]+)-([0-9]+)\.html$ morepicture.php?bccdtypeid=$1&page=$2 [L]
RewriteRule ^pictureinfo-([0-9]+)\.html$ pictureinfo.php?pictureid=$1 [L]
RewriteRule ^upsoft\.html$ upsoft.php [L]
RewriteRule ^upsoft-([0-9]+)\.html$ upsoft.php?bccdtypeid=$1 [L]
RewriteRule ^upsoftinfo-([0-9]+)\.html$ upsoftinfo.php?softid=$1 [L]
RewriteRule ^upsoftinfo\.html$ upsoftinfo.php [L]
RewriteRule ^mrczinfo-([0-9]+)-([0-9]+)\.html$ mrczinfo.php?id=$1&flag=$2 [L]
RewriteRule ^bcyxb\.html$ bcyxb.php [L]
RewriteRule ^bcjjc$ bcyxb.php [L]
RewriteRule ^bcyxb-([0-9]+)\.html$ bcyxb.php?bccdtypeid=$1 [L]
RewriteRule ^helpcenter\.html$ helpcenter.php [L]
RewriteRule ^listbcds-([0-9]+)\.html$ listbcds.php?bccdtypeid=$1 [L]
RewriteRule ^listbcds-([0-9]+)-([0-9]+)\.html$ listbcds.php?bccdtypeid=$1&page=$2 [L]
RewriteRule ^bcdsinfo-([0-9]+)\.html$ bcdsinfo.php?bcdsid=$1 [L]
RewriteRule ^joinbcds-([0-9]+)-([0-9]+)\.html$ joinbcds.php?bcdsid=$1&bccdtypeid=$2 [L]
RewriteRule ^joinbcds\.html$ joinbcds.php [L]
RewriteRule ^ggzjinfo-([0-9]+)\.html$ ggzjinfo.php?ggzjid=$1 [L]
RewriteRule ^listggzj-([0-9]+)\.html$ listggzj.php?bccdtypeid=$1 [L]
RewriteRule ^listggzj-([0-9]+)-([0-9]+)\.html$ listggzj.php?bccdtypeid=$1&page=$2 [L]
RewriteRule ^joinggzj-([0-9]+)-([0-9]+)\.html$ joinggzj.php?ggzjid=$1&bccdtypeid=$2 [L]
RewriteRule ^joinggzj\.html$ joinggzj.php [L]
RewriteRule ^searchnote\.html$ searchnote.php [L]
RewriteRule ^jcylinfo-([0-9]+)\.html$ jcylinfo.php?jcylid=$1 [L]
RewriteRule ^userpm\.html$ userpm.php [L]
RewriteRule ^index\.html$ index.php [L]
RewriteRule ^bindex\.html$ bindex.php [L]
RewriteRule ^bccd$ bindex.php [L]
RewriteRule ^aboutbccd([0-9]+)$ aboutbccd.php?bccdinfoid=$1 [L]
RewriteRule ^aboutbccd-([0-9]+)\.html$ aboutbccd.php?bccdinfoid=$1 [L]
RewriteRule ^aboutbccd-([0-9]+)-([0-9]+)\.html$ aboutbccd.php?bccdnameid=$1&bbid=$2 [L]
RewriteRule ^aboutbccd-dp-([0-9]+)-([0-9]+)\.html$ aboutbccd.php?dptype=$1&bccdinfoid=$2 [L]
RewriteRule ^aboutbccd-pf-([a-z]+)-([0-9]+)-([0-9]+)\.html$ aboutbccd.php?pftype=$1&score=$2&bccdinfoid=$3 [L]

RewriteRule ^flash\.html$ flash.php [L]
RewriteRule ^cart\.html$ cart.php [L]
RewriteRule ^cart-([0-9]+)-add\.html$ cart.php?bid=$1&t=add [L]
RewriteRule ^cart-clearAll\.html$ cart.php?t=clearAll [L]
RewriteRule ^cart-([0-9]+)-(.*)-update\.html$ cart.php?ubid=$1&num=$2&t=update [L]
RewriteRule ^cart-([0-9]+)-remove\.html$ cart.php?rbid=$1&t=remove [L]
RewriteRule ^qxorder\.html$ qxorder.php [L]
RewriteRule ^telllogin\.html$ telllogin.php [L]
RewriteRule ^getbuyuserinfo\.html$ getbuyuserinfo.php [L]
RewriteRule ^deforder\.html$ deforder.php [L]
RewriteRule ^selectpaytype\.html$ selectpaytype.php [L]
RewriteRule ^defpay-([a-zA-Z]+)\.html$ defpay.php?t=$1 [L]
RewriteRule ^bccdlist\.html$ bccdlist.php [L]
RewriteRule ^defpay-([a-zA-Z]+)\.html$ defpay.php?t=$1 [L]
RewriteRule ^tyzx\.html$ tyzx.php [L]
RewriteRule ^tyzx$ tyzx.php [L]
RewriteRule ^question.html$ question.php [L]
RewriteRule ^question$ question.php [L]
RewriteRule ^question.html$ question.php [L]
RewriteRule ^dlfw.html$ dlfw.php [L]
RewriteRule ^dlfw$ dlfw.php [L]
RewriteRule ^dlmap.html$ dlmap.php [L]
RewriteRule ^morespty-([0-9]+)-([0-9]+)\.html$ morespty.php?bccdnameid=$1&page=$2 [L]
RewriteRule ^sptyinfo-([0-9]+)\.html$ sptyinfo.php?id=$1 [L]

RewriteRule ^morestd\.html$ morestd.php [L]
RewriteRule ^stdinfo-([0-9]+)\.html$ stdinfo.php?id=$1 [L]


RewriteRule ^update$ update.php [L]
RewriteRule ^update.html$ update.php [L]
RewriteRule ^update-([0-9]+)-([0-9]+)\.html$ update.php?bccdnameid=$1&bbid=$2 [L]
RewriteRule ^update-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+)\.html$ update.php?bccdnameid=$1&bbid=$2&year=$3&month=$4 [L]
RewriteRule ^updateinfo-([0-9]+)\.html$ updateinfo.php?id=$1 [L]


RewriteRule ^quesstion/answer.htm$ helpcenter.php [L]
RewriteRule ^update/nowupdate.htm$ update.php [L]
RewriteRule ^membership/membership.htm$ bbsindex.php [L]
RewriteRule ^tips/tips.htm$ cindex.php [L]

RewriteRule ^feedback/feedback.htm$ listnote-81.html [L]

RewriteRule ^sj-([0-9]+)-([0-9]+).htm$ sj.php?bccdnameid=$1&bbid=$2 [L]
RewriteRule ^listbcjyz-([0-9]+)-([0-9]+).html$ listbcjyz.php?typeid=$1&page=$2 [L]
RewriteRule ^listbcx-([0-9]+)-([0-9]+).html$ listbcx.php?typeid=$1&page=$2 [L]

RewriteRule ^resource-(.*).html$ resource.php?t=$1 [L]

ErrorDocument 404 http://www.mrbccd.com/404.php




