@charset "gb2312";
/* CSS Document */

body { background:url(../images/9.jpg) repeat-x; background-color:#ffffff; margin:0 auto;} 
body,div,li,ul,th,td { margin:0; font-size:12px; font-family:"宋体";}
li { list-style:none;}
a:link { text-decoration:none;}
a:hover { text-decoration:none;}
a:visited { text-decoration:none;}
a:active { text-decoration:none;}
* { margin:0; border:0; padding:0;}

#box { width:1004px; margin:0 auto;}
#top { width:1004px; height:99px; background:url(../images/10.jpg) no-repeat; float:left;}
.top_right { width:485px; padding-top:8px; padding-right:11px; float:right; color:#FFFFFF;}
.font1 { line-height:17px; float:left; margin-left:375px; font-size:14px; font-weight:bold; display:inline; padding-left:22px; background:url(../images/11.jpg) left top no-repeat;}
.font1 a { color:#fff; text-decoration:none;}
.font1 a:link { color:#fff; text-decoration:none;}
.font1 a:hover { color:#FF3; text-decoration:none;}
.font1 a:visited { color:#fff; text-decoration:none;}
.font2 { width:450px; float:left; padding-left:22px; margin-left:10px; margin-top:40px; background:url(../images/12.jpg) left no-repeat; line-height:16px; display:inline;  color:#FFF;}
#con_left { width:253px; float:left; padding-top:6px;}
#con_right { width:748px; float:left; border:1px solid #9bc311; margin-top:6px; display:inline;}
.left_con { width:243px; padding-top:9px; height:auto !important; min-height:600px; height:600px; float:left; border:1px solid #11531c; background:url(../images/13.jpg) repeat-x; background-color:#FFF;}
.left_fl_con { width:218px; padding-left:13px; float:left;}

#left_fl_con1 { width:218px; line-height:37px; list-style-type: none; text-align:left; /*定义整个ul菜单的行高和背景色*/
}
/*==================一级目录===================*/
#left_fl_con1 a { width: 181px; display: block; padding-left:37px; /*Width(一定要)，否则下面的Li会变形*/
}
#left_fl_con1 li { float:left; background:url(../images/14.jpg) no-repeat; margin-top:4px; display:inline; color:#000000; }
#left_fl_con1 li a:hover { background:url(../images/15.jpg) no-repeat; /*一级目录onMouseOver显示的背景色*/ }
#left_fl_con1 a:link { color:#000000; text-decoration:none;}
#left_fl_con1 a:visited { color:#000000; text-decoration:none;}
#left_fl_con1 a:hover { color:#000000; text-decoration:none;}
/*==================二级目录===================*/
#left_fl_con1 li ul { list-style:none; text-align:left; }
#left_fl_con1 li ul li { background:url(../images/16.jpg) no-repeat; line-height:34px;/*二级目录的背景*/ font-weight:normal; }
#left_fl_con1 li ul a { padding-left:37px; width:180px;/* padding-left二级目录中文字向右移动，但Width必须重新设置=(总宽度-padding-left)*/
}
/*下面是二级目录的链接样式*/
#left_fl_con1 li ul a:link { color:#d1e4c5; text-decoration:none; }
#left_fl_con1 li ul a:visited { color:#d1e4c5; text-decoration:none; }
#left_fl_con1 li ul a:hover { color:#fff; text-decoration:none; font-weight:normal; background:url(../images/17.jpg) no-repeat;/* 二级onmouseover的字体颜色、背景色*/
}
/*==============================*/
#left_fl_con1 li:hover ul { left: auto; }
#left_fl_con1 li.sfhover ul { left: auto; }
#content { clear: left; }
#left_fl_con1 ul.collapsed { display: none; }
-->
#PARENT { width:218px; }

.left_d { width:243px; float:left; margin-top:130px; display:inline; padding-top:130px; line-height:33px; color:#046f04; FILTER: dropshadow(color=#e1e0e0, offx=1, offy=1, positive=1); text-align:center;}


.right_con { width:746px; border:1px solid #b4b4b4; background-color:#FFF; padding-bottom:20px; float:left;}
.right_con_bt { width:734px; background-color:#d9f4bf; float:left; color:#0c760c; line-height:30px; border:1px solid #555752; margin-left:6px; margin-top:5px; display:inline;}
.right_con_form { width:734px; padding-left:15px; color:#0c760c; border:1px solid #555752; margin-left:6px; margin-top:5px; display:inline;}
.right_con_bt a { color:#0c760c; text-decoration:none;}
.right_con_bt a:link { color:#0c760c; text-decoration:none;}
.right_con_bt a:hover { color:#000000; text-decoration:none;}
.right_con_bt a:visited { color:#0c760c; text-decoration:none;} 

.Text-t12 {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; COLOR: #660000; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.bt-tdleft H5 {
	COLOR: #08910b; font-size:12px; font-weight:normal; MARGIN-LEFT: 50px;
}

.right2-bt {
	TEXT-ALIGN: left; LINE-HEIGHT: 1.8em; PADDING-LEFT: 20px; WIDTH: 95%;   FLOAT: left; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.right-bt {
	TEXT-ALIGN: right; MARGIN-TOP: 32px; WIDTH: 80px; FLOAT: right; MARGIN-RIGHT: 10px
}
DIV.section DIV.title1 {
	WIDTH: 100%; BACKGROUND: url(../css-imgs/comon_m.jpg) repeat-x left top; HEIGHT: 149px; CLEAR: right; FONT-SIZE: 12px
}
DIV.section DIV.title2 {
	WIDTH: 100%; BACKGROUND: url(../css-imgs/comon_m.jpg) repeat-x left top; HEIGHT: 149px; CLEAR: right; FONT-SIZE: 12px
}
DIV.section DIV.title3 {
	WIDTH: 100%; BACKGROUND: url(../css-imgs/comon_m.jpg) repeat-x left top; HEIGHT: 149px; CLEAR: right; FONT-SIZE: 12px
}
DIV.section DIV.title4 {
	WIDTH: 100%; BACKGROUND: url(../css-imgs/comon_m.jpg) repeat-x left top; HEIGHT: 149px; CLEAR: right; FONT-SIZE: 12px
}
DIV.section1 DIV.title11 {
	MARGIN-TOP: 10px; WIDTH: 100%; BACKGROUND: url(../css-imgs/comon_bg.jpg) repeat-x left center; HEIGHT: 30px; FONT-SIZE: 12px
}
DIV.section1 DIV.title11 H5 {
	LINE-HEIGHT: 30px; MARGIN: 0px; PADDING-LEFT: 30px; BACKGROUND: url(../css-imgs/comon_l.jpg) no-repeat left center; FLOAT: left; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 13px
}
.control {
	WIDTH: 75px; FLOAT: right; HEIGHT: 100px
}
.control A {
	PADDING-RIGHT: 34px; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: right; COLOR: #08910b; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 43px
}
.nr {
	LINE-HEIGHT: 25px; TEXT-INDENT: 24px; MARGIN: 10px 24px; COLOR: #333; FONT-SIZE: 13px
}
.nr-2 {
	LINE-HEIGHT: 25px;   COLOR: #333; MARGIN-LEFT: 20px; FONT-SIZE: 13px; MARGIN-RIGHT: 20px
}
.nr P {
	TEXT-ALIGN: left; LINE-HEIGHT: 24px; MARGIN-TOP: 0px; TEXT-INDENT: 24px; MARGIN-BOTTOM: 10px
}
.nr P A {
	TEXT-DECORATION: none !important
}
.nr P A:link {
	TEXT-DECORATION: none !important
}
.nr P A:visited {
	TEXT-DECORATION: none !important
}
.nr P A:hover {
	TEXT-DECORATION: none !important
}
.nr P A:active {
	TEXT-DECORATION: none !important
}
.nr_p_l {
	TEXT-INDENT: 0px; PADDING-LEFT: 24px
}
.swf {
	TEXT-ALIGN: center
}
.Text-t14 {
	LINE-HEIGHT: 28px; FONT-STYLE: normal; FONT-FAMILY: "????", serif; COLOR: #d95f5e; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.Text-t12 {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; FONT-STYLE: normal; FONT-FAMILY: "????", serif; COLOR: #08910b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.pimg {
	TEXT-ALIGN: center; FONT-FAMILY: "????", serif; FONT-SIZE: 13px
}
.pimg-lift {
	TEXT-ALIGN: left; FONT-FAMILY: "????", serif; FLOAT: left; FONT-SIZE: 13px
}
.pimg-liftz {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; TEXT-INDENT: 24px; FONT-FAMILY: "????", serif; FONT-SIZE: 13px
}
.pimg-liftb {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; TEXT-INDENT: 24pt; FONT-FAMILY: "????", serif; FLOAT: none; FONT-SIZE: 13px
}
.Text-t11 {
	TEXT-ALIGN: center; COLOR: #333333; FONT-SIZE: 14px
}
.Text-t16 {
	LINE-HEIGHT: 28px; FONT-STYLE: normal;   COLOR: #ff00ff; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.bt-tdleft {
	WIDTH: 100px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px
}

.bt-tdm {
   BACKGROUND-REPEAT: repeat-x; HEIGHT: 100px
}
.bt-tdr {
	WIDTH: 75px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px
}
.input {
	BORDER-BOTTOM: #12438f 1px solid; BORDER-LEFT: #12438f 1px solid; FONT-STYLE: normal; PADDING-LEFT: 10px; FONT-FAMILY: 宋体; COLOR: #cccccc; FONT-SIZE: 12px; BORDER-TOP: #12438f 1px solid; BORDER-RIGHT: #12438f 1px solid; PADDING-TOP: 3px
}
.input1 {
	BORDER-BOTTOM: #777777 1px solid; BORDER-LEFT: #777777 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; COLOR: #333333; FONT-SIZE: 12px; BORDER-TOP: #777777 1px solid; BORDER-RIGHT: #777777 1px solid
}
.input2 {
	BORDER-BOTTOM: #77b7dd 1px solid; BORDER-LEFT: #77b7dd 1px solid; FONT-STYLE: normal; PADDING-LEFT: 10px; FONT-FAMILY: 宋体; COLOR: #333333; FONT-SIZE: 12px; BORDER-TOP: #77b7dd 1px solid; BORDER-RIGHT: #77b7dd 1px solid; PADDING-TOP: 3px
}
.input3 {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; FONT-STYLE: normal; PADDING-LEFT: 10px; FONT-FAMILY: 宋体; COLOR: #333333; FONT-SIZE: 13px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.input4 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; COLOR: #333333; FONT-SIZE: 14px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.input5 {
	BORDER-BOTTOM: #30a7e9 1px solid; BORDER-LEFT: #30a7e9 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; COLOR: #333333; FONT-SIZE: 13px; BORDER-TOP: #30a7e9 1px solid; BORDER-RIGHT: #30a7e9 1px solid
}
.input6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FONT-STYLE: normal; FONT-FAMILY: 宋体; COLOR: #333333; FONT-SIZE: 12px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.input7 {
	BORDER-BOTTOM: #446f99 1px solid; BORDER-LEFT: #446f99 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; COLOR: #333333; FONT-SIZE: 18px; BORDER-TOP: #446f99 1px solid; BORDER-RIGHT: #446f99 1px solid
}
.input8 {
	BORDER-BOTTOM: #014984 1px solid; BORDER-LEFT: #014984 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; FONT-SIZE: 13px; BORDER-TOP: #014984 1px solid; BORDER-RIGHT: #014984 1px solid
}
.select1 {
	BACKGROUND-COLOR: #6cc0ee; FONT-STYLE: normal; FONT-FAMILY: 宋体; FONT-SIZE: 13px
}
.a1:link {
	COLOR: #0d1e6a; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a1:visited {
	COLOR: #0d1e6a; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a1:active {
	COLOR: #0d1e6a; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a1:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a11:link {
	COLOR: #41699c; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a11:visited {
	COLOR: #41699c; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a11:active {
	COLOR: #41699c; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a11:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a12:link {
	COLOR: #ff8500; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a12:visited {
	COLOR: #ff8500; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a12:active {
	COLOR: #ff8500; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a12:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a13:link {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a13:visited {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a13:active {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a13:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a1311:link {
	COLOR: #ffe900; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a1311:visited {
	COLOR: #ffe900; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a1311:active {
	COLOR: #ffe900; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a1311:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a14:link {
	COLOR: #333333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a14:visited {
	COLOR: #333333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a14:active {
	COLOR: #333333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a14:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a15:link {
	COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a15:visited {
	COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a15:active {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a15:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a16:link {
	COLOR: #015584; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a16:visited {
	COLOR: #015584; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a16:active {
	COLOR: #015584; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a16:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a17:link {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a17:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a17:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a17:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a18:link {
	COLOR: #0081c9; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a18:visited {
	COLOR: #0081c9; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a18:active {
	COLOR: #0081c9; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a18:hover {
	COLOR: #0081c9; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a19:link {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a19:visited {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a19:active {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a19:hover {
	COLOR: #333333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a20:link {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a20:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a20:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a20:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a21:link {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a21:visited {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a21:active {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a21:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a22:link {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a22:visited {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a22:active {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a22:hover {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a23:link {
	COLOR: #cc0200; FONT-SIZE: 16px; TEXT-DECORATION: none
}
.a23:visited {
	COLOR: #cc0200; FONT-SIZE: 16px; TEXT-DECORATION: none
}
.a23:active {
	COLOR: #cc0200; FONT-SIZE: 16px; TEXT-DECORATION: none
}
.a23:hover {
	COLOR: #0000ff; FONT-SIZE: 16px; TEXT-DECORATION: underline
}
.a24:link {
	COLOR: #c90101; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a24:visited {
	COLOR: #c90101; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a24:active {
	COLOR: #c90101; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a24:hover {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a25:link {
	COLOR: #8f0002; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a25:visited {
	COLOR: #8f0002; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a25:active {
	COLOR: #8f0002; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a25:hover {
	COLOR: #0000ff; FONT-SIZE: 15px; TEXT-DECORATION: underline
}
.a26:link {
	COLOR: #5f7601; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a26:visited {
	COLOR: #5f7601; TEXT-DECORATION: none
}
.a26:active {
	COLOR: #5f7601; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a26:hover {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a27:link {
	COLOR: #666666; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a27:visited {
	COLOR: #666666; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a27:active {
	COLOR: #666666; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a27:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a28:link {
	COLOR: #ce6c07; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a28:visited {
	COLOR: #ce6c07; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a28:active {
	COLOR: #ce6c07; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a28:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a29:link {
	COLOR: #666666; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a29:visited {
	COLOR: #666666; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a29:active {
	COLOR: #666666; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a29:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a30:link {
	COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a30:visited {
	COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a30:active {
	FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a30:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a31:link {
	COLOR: #407700; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a31:visited {
	COLOR: #407700; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a31:active {
	COLOR: #407700; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a31:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a32:link {
	COLOR: #cd6c0b; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a32:visited {
	COLOR: #cd6c0b; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a32:active {
	COLOR: #cd6c0b; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a32:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a33:link {
	COLOR: #035585; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a33:visited {
	COLOR: #035585; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a33:active {
	COLOR: #035585; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a33:hover {
	COLOR: #035585; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a2:link {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a2:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a2:active {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a2:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a3:link {
	COLOR: #003399; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a3:visited {
	COLOR: #003399; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a3:active {
	COLOR: #003399; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a3:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a4:link {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a4:visited {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a4:active {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a4:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a5:link {
	COLOR: #ffffff; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a5:visited {
	COLOR: #ffffff; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a5:active {
	COLOR: #ffffff; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a5:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a6:link {
	COLOR: #246790; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a6:visited {
	COLOR: #246790; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a6:active {
	COLOR: #246790; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a6:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a7:link {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a7:visited {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a7:active {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a7:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a8:link {
	COLOR: #0d1e6a; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a8:visited {
	COLOR: #0d1e6a; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a8:active {
	COLOR: #0d1e6a; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a8:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a9:link {
	COLOR: #0b597d; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a9:visited {
	COLOR: #0b597d; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a9:active {
	COLOR: #0b597d; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a9:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a10:link {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a10:visited {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a10:active {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a10:hover {
	COLOR: #2494d3; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a100:link {
	COLOR: #014984; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.a100:visited {
	COLOR: #014984; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.a100:active {
	COLOR: #014984; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.a100:hover {
	COLOR: #ff0000; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.a101:link {
	COLOR: #d00002; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.a101:visited {
	COLOR: #d00002; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.a101:active {
	COLOR: #d00002; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.a101:hover {
	COLOR: #ff0000; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.a102:link {
	COLOR: #d00002; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a102:visited {
	COLOR: #d00002; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a102:active {
	COLOR: #d00002; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a102:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a103:link {
	COLOR: #035f90; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a103:visited {
	COLOR: #035f90; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a103:active {
	COLOR: #035f90; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a103:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a104:link {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a104:visited {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a104:active {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a104:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a1005:link {
	COLOR: #ff0000; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a1005:visited {
	COLOR: #ff0000; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a1005:active {
	COLOR: #ff0000; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a1005:hover {
	COLOR: #ff0000; FONT-SIZE: 15px; TEXT-DECORATION: underline
}
.a105:link {
	COLOR: #005e8e; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a105:visited {
	COLOR: #005e8e; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a105:active {
	COLOR: #005e8e; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a105:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a106:link {
	COLOR: #6d6d6d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a106:visited {
	COLOR: #6d6d6d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a106:active {
	COLOR: #6d6d6d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a106:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a107:link {
	COLOR: #696969; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a107:visited {
	COLOR: #696969; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a107:active {
	FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a107:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a108:link {
	COLOR: #00659d; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a108:visited {
	COLOR: #00659d; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a108:active {
	COLOR: #00659d; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a108:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a109:link {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a109:visited {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a109:active {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.a109:hover {
	COLOR: #0000ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a110:link {
	COLOR: #00659d; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a110:visited {
	COLOR: #00659d; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a110:active {
	COLOR: #00659d; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a110:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a111:link {
	COLOR: #bd3400; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a111:visited {
	COLOR: #bd3400; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a111:active {
	COLOR: #bd3400; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a111:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a112:link {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a112:visited {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a112:active {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a112:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.a113:link {
	COLOR: #333333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a113:visited {
	COLOR: #333333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a113:active {
	COLOR: #333333; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.a113:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a114:link {
	COLOR: #8e0000; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a114:visited {
	COLOR: #8e0000; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a114:active {
	COLOR: #8e0000; FONT-SIZE: 15px; TEXT-DECORATION: none
}
.a114:hover {
	COLOR: #0000ff; FONT-SIZE: 15px; TEXT-DECORATION: underline
}
.a115:link {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a115:visited {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a115:active {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a115:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a116:link {
	COLOR: #067001; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a116:visited {
	COLOR: #067001; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a116:active {
	COLOR: #067001; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a116:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.ta1:link {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta1:visited {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta1:active {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta1:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta2:link {
	COLOR: #990000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta2:visited {
	COLOR: #990000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta2:active {
	COLOR: #990000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta2:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta3:link {
	COLOR: #009900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta3:visited {
	COLOR: #009900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta3:active {
	COLOR: #009900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta3:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta4:link {
	COLOR: #ff9900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta4:visited {
	COLOR: #ff9900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta4:active {
	COLOR: #ff9900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta4:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta5:link {
	COLOR: #000099; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta5:visited {
	COLOR: #000099; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta5:active {
	COLOR: #000099; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta5:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta6:link {
	COLOR: #ffff33; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta6:visited {
	COLOR: #ffff33; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta6:active {
	COLOR: #ffff33; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta6:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta7:link {
	COLOR: #cc0099; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta7:visited {
	COLOR: #cc0099; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta7:active {
	COLOR: #cc0099; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta7:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta8:link {
	COLOR: #006666; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta8:visited {
	COLOR: #006666; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta8:active {
	COLOR: #006666; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ta8:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ab1:link {
	COLOR: #cc0000; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab1:visited {
	COLOR: #cc0000; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab1:active {
	COLOR: #cc0000; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab1:hover {
	COLOR: #0000ff; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.ab2:link {
	COLOR: #034f80; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab2:visited {
	COLOR: #034f80; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab2:active {
	COLOR: #034f80; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab2:hover {
	COLOR: #ff0000; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.ab3:link {
	COLOR: #608a1a; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab3:visited {
	COLOR: #608a1a; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab3:active {
	COLOR: #608a1a; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.ab3:hover {
	COLOR: #ff0000; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.af:link {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.af:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.af:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.af:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a1251:link {
	COLOR: #0257ae; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a1251:unknown {
	COLOR: #0257ae; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a1251:visited {
	COLOR: #0257ae; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a1251:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.a2411:link {
	COLOR: #0257ae; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a2411:unknown {
	COLOR: #0257ae; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a2411:visited {
	COLOR: #0257ae; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.a2411:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.t1:link {
	COLOR: #cc2900; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.t1:unknown {
	COLOR: #cc2900; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.t1:visited {
	COLOR: #cc2900; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.t1:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.t2:link {
	COLOR: #cc2900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t2:unknown {
	COLOR: #cc2900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t2:visited {
	COLOR: #cc2900; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t2:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.t3:link {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t3:visited {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t3:active {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t3:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.t4:link {
	COLOR: #015584; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t4:visited {
	COLOR: #015584; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t4:active {
	COLOR: #015584; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t4:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.t5:link {
	COLOR: #108acb; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t5:visited {
	COLOR: #108acb; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t5:active {
	COLOR: #108acb; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t5:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.t6:link {
	COLOR: #004b73; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.t6:visited {
	COLOR: #004b73; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.t6:active {
	COLOR: #004b73; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.t6:hover {
	COLOR: #ff0000; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.t7:link {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t7:visited {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t7:active {
	COLOR: #333333; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t7:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.t8:link {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t8:visited {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t8:active {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t8:hover {
	COLOR: #0000ff; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.t9:link {
	COLOR: #eeeeee; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t9:visited {
	COLOR: #eeeeee; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t9:active {
	COLOR: #eeeeee; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t9:hover {
	COLOR: #0000ff; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
.t10:link {
	COLOR: #0381cd; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t10:visited {
	COLOR: #0381cd; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t10:active {
	COLOR: #0381cd; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t10:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.t11:link {
	COLOR: #cb0100; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t11:visited {
	COLOR: #cb0100; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t11:active {
	COLOR: #cb0100; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t11:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.t12:link {
	COLOR: #845801; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t12:visited {
	COLOR: #845801; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t12:active {
	COLOR: #845801; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t12:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.t13:link {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t13:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t13:active {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.t13:hover {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.t14:link {
	COLOR: #003399; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t14:visited {
	COLOR: #003399; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t14:active {
	COLOR: #003399; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.t14:hover {
	COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.STYLE1 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.STYLE3 {
	FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.STYLE4 {
	FONT-SIZE: 13px
}
.default-footer-line {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 1px; BORDER-TOP: #bde2fd 1px solid; PADDING-TOP: 0px
}
.default-footer-dh {
	LINE-HEIGHT: 24px; BACKGROUND-COLOR: #edf8fa; WIDTH: 950px; HEIGHT: 24px; COLOR: #004a9d; CLEAR: both
}
.default-footer-bq {
	LINE-HEIGHT: 20px; WIDTH: 950px; HEIGHT: 40px; COLOR: #333333; CLEAR: both
}
.default-footer-netimg {
	WIDTH: 950px; CLEAR: both
}
.default-footer-netimg IMG {
	BORDER-BOTTOM: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; MARGIN-LEFT: 3px; BORDER-TOP: #ebebeb 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #ebebeb 1px solid
}
.default-footer-line {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 1px; BORDER-TOP: #bde2fd 1px solid; PADDING-TOP: 0px
}
.default-footer-dh {
	LINE-HEIGHT: 24px; BACKGROUND-COLOR: #edf8fa; WIDTH: 950px; HEIGHT: 24px; COLOR: #004a9d; CLEAR: both
}
.default-footer-bq {
	LINE-HEIGHT: 20px; WIDTH: 950px; HEIGHT: 40px; COLOR: #333333; CLEAR: both
}
.default-footer-netimg {
	WIDTH: 950px; CLEAR: both
}
.default-footer-netimg IMG {
	BORDER-BOTTOM: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; MARGIN-LEFT: 3px; BORDER-TOP: #ebebeb 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #ebebeb 1px solid
}
#main {
	TEXT-ALIGN: center; WIDTH:705px;
}
#mid8 {
	 MARGIN: 0px auto; WIDTH:705px;
}
#bt-ind {
	BACKGROUND-IMAGE: url(../images/ind2_02.png); TEXT-ALIGN: left; WIDTH: 700px; BACKGROUND-REPEAT: no-repeat;   HEIGHT: 29px; COLOR: #ffffff; CLEAR: both; FONT-SIZE: 14px; BORDER-TOP: #f2f2f2 1px solid
}
#bt-ind-sfjj {
	BACKGROUND-IMAGE: url(../images/ind_sfjj.png); TEXT-ALIGN: left; WIDTH: 600px; BACKGROUND-REPEAT: no-repeat;   HEIGHT: 29px; COLOR: #ffffff; MARGIN-LEFT: 35px; CLEAR: both; FONT-SIZE: 14px; BORDER-TOP: #f2f2f2 1px solid
}
#bt-ind-sfjj H4 {
	MARGIN-TOP: 4px; PADDING-LEFT: 54px; BACKGROUND-REPEAT: no-repeat;   COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
#bt-ind-zdnd {
	BACKGROUND-IMAGE: url(../images/ind_zdnd.png); TEXT-ALIGN: left; WIDTH: 700px; BACKGROUND-REPEAT: no-repeat;   HEIGHT: 33px; COLOR: #ffffff; MARGIN-LEFT: 22px; CLEAR: both; FONT-SIZE: 14px; BORDER-TOP: #f2f2f2 1px solid; FONT-WEIGHT: bold
}
#bt-ind-zdnd H4 {
	MARGIN-TOP: 4px; PADDING-LEFT: 54px; BACKGROUND-REPEAT: no-repeat;   COLOR: #666666; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
#bt-ind H4 {
	MARGIN-TOP: 4px; PADDING-LEFT: 54px;   COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.wen-ind8 {
	BORDER-BOTTOM: #fff; TEXT-ALIGN: left; BORDER-LEFT: #fff; LINE-HEIGHT: 1.8em; BACKGROUND-COLOR: #ffffff; MARGIN: 0px auto; WIDTH: 705px; COLOR: #333333; FONT-SIZE: 12px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff
}
.h5 {
	BORDER-BOTTOM: #f2f2f2 4px solid; MARGIN-BOTTOM: 10px; COLOR: #000000; FONT-SIZE: 13px
}
.pimg-lift {
	TEXT-ALIGN: left; FONT-FAMILY: "????", serif; FLOAT: left; MARGIN-LEFT: 24px; FONT-SIZE: 13px; MARGIN-RIGHT: 8px
}

