<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>企业公告</title>
	<link href="css/style.css" rel="stylesheet" />
	<script src="js/client_js.js"></script>
</head>

<body>
<table width="765" border="0" cellpadding="0" cellspacing="0" class="big_td">
	<tr>
		<td height="33" background="../images/list.jpg" id="list">消息管理
		</td>
	</tr>
</table>
<table width="765" border="0" cellspacing="0" cellpadding="0" bgcolor="#DEEBEF" class="big_td">
  <tr>
    <td width="100" height="25" align="center" valign="middle" scope="col">发布时间</td>
    <td height="25" align="center" valign="middle" scope="col">标题</td>
	<td width="150" height="25" align="center" valign="middle" scope="col">操作</td>
  </tr>

{section name=res_id loop=$res}
<tr>
    <td width="100" height="25" align="center" valign="middle" scope="col">{$res[res_id].p_time}</td>
    <td height="25" align="center" valign="middle" scope="col">{$res[res_id].p_title}</td>
	<td width="150" height="25" align="center" valign="middle" scope="col">
		<a href='m_message.php?id={$res[res_id].id}'>修改</a> /
		<a href='d_message_chk.php?id={$res[res_id].id}' onclick='return del_mess();'>删除</a>
	</td>
</tr>
{/section}
<tr>
	<td height="30" align="right" valign="middle" colspan="3"><a href='add_manage.php' target="mainFrame">发布新消息</a></td>
</tr>
</table>
</body>
</html>

