<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<link href="css/style.css" rel="stylesheet" />
<script src="js/client_js.js"></script>
<body>
<form name="form1" method="post" action="set_time_chk.php">
  <table border="0" cellspacing="0" cellpadding="0" background="images/bg.jpg">
    <tr>
      <td width="150" height="25" align="center" valign="middle">上班签到</td>
      <td width="150" height="25" align="center" valign="middle">下班签退</td>
      <td width="150" height="25" align="center" valign="middle">加班签到</td>
      <td width="150" height="25" align="center" valign="middle">加班签退</td>
    </tr>
    <tr>
    {section name=rec_id loop=$rec}
      <td height="30" align="center" valign="middle">
      <input type="text" name="l_time{$rec[rec_id].id}" value="{$rec[rec_id].l_time}" size=15></td>

    {/section}
      </tr>
    <tr>
      <td height="30" align="center" valign="middle"><input type="submit" name="u_logo" value="设置"></td>
      <td height="30" align="center" valign="middle"><input type="submit" name="d_logo" value="设置"></td>
      <td height="30" align="center" valign="middle"><input type="submit" name="a_logo" value="设置"></td>
      <td height="30" align="center" valign="middle"><input type="submit" name="q_logo" value="设置"></td>
    </tr>
  </table>
</form>
</body>
</html>
