body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote 
{ margin: 0; padding: 0; } 
html,body {-webkit-text-size-adjust:none;}
html button::-moz-focus-inner{ border-color:transparent!important; } 
input, button, textarea,select, optgroup, option { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit;}
ul, li, dl, dt, dd, ol { display: block; list-style: none; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
fieldset, img { border: 0; }
iframe { background-image: none; }
hr{ border:0 #ccc solid; border-top-width: 1px; clear: both; height: 0; }
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
input[type="text"], input[type="password"], textarea {outline-style:none;-webkit-appearance:none;}
.clear { clear:both; }
.indent { text-indent: 24px;}
a {text-decoration:none;outline:none;transition:all 0.3s ease-in-out 0s;}
a:hover {text-decoration:none;}
a:active {star:expression(this.onFocus=this.blur());}
center {padding:25px 0;}     textarea {resize:none;}
.zm {zoom:1;}                .ti2 {text-indent:2em;}
.none {display:none;}        .db {display:block;}            .di {display:inline;}
.tl {text-align:left;}       .tr {text-align:right;}         .tc {text-align:center;}
.fl{ float: left;}           .fr{ float: right;}             .mar {margin:0 auto;}
.mou-p { cursor: pointer; }  .mou-m { cursor: move; }        .mou-t { cursor: text; }
.fw{ font-weight:bold; }     .fi{ font-style:italic; }       .f10p{ font-size: 10px; }       
.f12p{ font-size: 12px; }    .f14p{ font-size: 14px; }       .f15p{ font-size: 15px; }       
.f16p{ font-size: 16px; }    .f18p{ font-size: 18px; }
.f20p{ font-size: 20px; }    .f24p{ font-size: 24px; }       
.fw{ font-weight:bold; }     .fi{ font-style:italic; }
.fst {font-family:simsun;}   .fwr {font-family:microsoft yahei;}
.fu{ text-decoration:underline;}
.fs{ text-decoration:line-through;}
.ofw{ overflow: hidden;}
.w1002_wrapper{ width: 1002px; margin: 0 auto;}
.w200{ width: 200px;}
.mt8{ margin-top: 8px;}
.mt25{ margin-top: 25px;}
.mr20{ margin-right: 20px;}
.mb20{ margin-bottom: 20px;}
.pb10{ padding-bottom: 10px;}
.h30{ height: 30px;}
.pa55{ padding: 55px;}
.h55{ height: 55px;}

html{ overflow-x: hidden;}
body{font-size: 12px; font-family: "microsoft yahei"; text-align: center; line-height: 2em; color: #333333; background-color: #ffffff;}
.top_adv_wrapper{ width: 100%; height: 117px; border-bottom: 3px solid #3b5688;}
.top_ad_box, .top_ad_box img{ width: 1002px; height: 117px; margin: 0 auto; display: block;}
.logo_box{ width: 1002px; height: 118px; margin: 0 auto; padding: 17px 0 13px 0; overflow: hidden;}
.logo_banner_box{ float: left; padding: 2px 0 0 13px;}
.logo_banner_box img{ border: 1px solid #dddddd;}
.logo_box div.fr{ width: 227px; text-align: left; padding-top: 10px; background: url(../images/tower_bg_11.png) right bottom no-repeat;}
.top_c_01{ font-size: 12px; color: #4c4c4c;}
.top_c_01 span{ color: #4aaef4; background: url(../images/clock_ico_11.gif) left center no-repeat; padding-left: 15px;}
.top_c_02{ font-size: 24px; color: #ce630c; font-family: arial; line-height: 34px; font-weight: bold;}
.top_c_03{ padding-left: 15px; background: url(../images/top_adress_ico_15.gif) left center no-repeat;}
.top_c_04{ font-size: 14px; color: #1b6ba3;}
.nav_wrapper_box{ width: 100%; height: 43px; background: #1b6ba3;}
.main_nav_box{ width: 1002px; height: 43px; margin: 0 auto; position: relative; z-index: 10;}
.main_nav_box>li{ width: 91px; height: 43px; float: left; z-index: 10;}
.main_nav_l{ display: block; width: 100%; height: 43px; line-height: 43px; color: #FFFFFF; font-size: 14px;}
.main_nav_l:hover, .main_nav_l.cur{ background: #0b7fd0;}
.main_nav_l.n_home{ background: url(../images/nav_home_ico_03.png) 15px center no-repeat; text-indent: 25px;}
.main_nav_l.n_home:hover, .main_nav_l.n_home.cur{ background: url(../images/nav_home_ico_03.png) #0b7fd0 15px center no-repeat;}
div.sub_nav_box{ display: none; width: 980px; height: 156px; padding: 9px 11px 13px 11px; border-top: 1px solid #2f92d7; background: url(../images/sub_nav_bg_25.png); position: absolute; left: 0; top: 43px; z-index: 10px; overflow: hidden;}
.sub_nav_list{ width: 715px; height: 156px; float: left;}
.sub_nav_list li{ float: left; width: 116px; height: 156px; padding-left: 22px; text-align: left; border-right: 1px dashed #4aaaec;}
.sub_nav_list li p{ line-height: 28px;}
.sub_nav_list li p a{ padding-left: 11px; color: #FFFFFF;background: left center no-repeat;}
.sub_nav_list li p a:hover{ background: url(../images/sub_link_ico_28.png) left center no-repeat;}
.sub_right_img_box{ width: 216px; height: 156px; padding-left: 11px; border-left: 1px dashed #4AAAEC; float: right;}
.sub_right_img_box img{ display: block; width: 216px; height: 156px;}
ul.sub_nav_box{ display: none; width: 91px; position: absolute; top: 43px;}
ul.sub_nav_box li{ width: 91px; height: 24px; line-height: 24px; margin-bottom: 1px;}
ul.sub_nav_box li a{ transition: none; display: block; width: 91px; height: 24px; line-height: 24px; text-align: left; background: url(../images/sub_nav_bg_25.png); text-indent: 11px; color: #FFFFFF;}
ul.sub_nav_box li a:hover{ background: #63b6ef;}

.banner_box{ width: 1002px; height: 310px; margin: 15px auto 0 auto;}
.t_banner_01{ width: 286px; height: 310px; float: left; overflow: hidden;}
.t_banner_01_list{ height: 292px;}
.t_banner_01_list img{ display: block; width: 286px; height: 292px;}
.t_banner_02{ width: 700px; height: 310px; float: right; position: relative; overflow: hidden;}
.t_banner_02_list img{ display: block; width: 700px; height: 292px;}
.b_next{ width: 20px; height: 35px; position: absolute; right: 14px; top: 129px; z-index: 5;}
.b_next a{ display: block; height: 35px; overflow: hidden; text-indent: -999px; background: url(../images/b_c_next.png);}
.b_prve{ width: 20px; height: 35px; position: absolute; left: 14px; top: 129px; z-index: 5;}
.b_prve a{ display: block; height: 35px; overflow: hidden; text-indent: -999px; background: url(../images/b_c_prve.png);}
.b_pager{ width: 100%; font-size: 0; margin: 12px 0 0 0; height: 5px; line-height: 5px;}
.b_pager a{ display: inline-block; width: 24px; height: 5px; line-height: 5px; overflow: hidden; margin: 0 4px; background: #e4e4e4;}
.b_pager a.active{ background: #206f96;}
.b_pager.bp3{ position: absolute; top: 0px; right: 0; text-align: right; z-index: 2;}

.news_cont_01{ width: 1002px; height: 312px; margin: 20px auto 0 auto;}
.n_c_l_01{ width: 240px; margin-right: 16px; float: left;}
.n_c_l_title{ width: 240px; height: 36px; line-height: 36px; font-size: 0;}
.n_c_l_title a{ width: 50%; height: 36px; float: left; font-size: 14px; color: #043462; background: #e4f3ff; transition: none;}
.n_c_l_title a.current{ height: 34px; border-top: 2px solid #206f96; background: #FFFFFF;}
.n_c_l_cont{ padding-top: 20px;}
.n_c_l_citem{ display: none; text-align: left;}
.n_c_l_citem.current{ display: block;}
.n_c_l_citem div h3{ font-size: 14px; font-weight: normal; line-height: 24px; color: #15538f;}
.n_c_l_citem div h3 a{ color: #15538f;}
.n_c_l_citem div h3 a:hover{ text-decoration: underline;}
.n_c_l_citem div p{ font-size: 12px; line-height: 22px; color: #949494;}
.n_c_l_citem ul{ margin-top: 10px;}
.n_c_l_citem ul li{ line-height: 26px; color: #515151;}
.n_c_l_citem ul li a{ color: #515151;}
.n_c_l_citem ul li a:hover{ color: #1061af;}
.n_c_l_02{ width: 494px; height: 312px; overflow: hidden; float: left;}
.n_c_l_02_item{ width: 100%; position: relative; margin-bottom: 15px;}
.n_c_l_02_item h3{ font-weight: normal; height: 19px; line-height: 19px; margin-bottom: 10px;}
.n_c_l_02_item h3 a.n_c_c_link_01{ display: block; width: 34px; height: 19px; line-height: 19px; background: #81b10e; color: #FFFFFF; float: left; font-size: 12px;}
.n_c_l_02_item h3 a.n_c_c_link_02{ display: block; width: 34px; height: 19px; line-height: 19px; background: #e98b05; color: #FFFFFF; float: left; font-size: 12px;}
.n_c_l_02_item h3 a.n_c_c_link_03{ display: block; width: 34px; height: 19px; line-height: 19px; background: #d82e1c; color: #FFFFFF; float: left; font-size: 12px;}
.n_c_l_02_item h3 a.n_c_n_title{ font-size: 16px; color: #1061af; font-weight: bold; float: left; padding-left: 10px;}
.n_c_l_02_item h3 a:hover{ text-decoration: underline;}
.n_c_l_02_item ul{ width: 100%; overflow: hidden;}
.n_c_l_02_item ul li{ width: 50%; float: left; text-align: left; line-height: 22px;}
.n_c_l_02_item ul li a{ color: #6f6f6f; padding-left: 9px; background: url(../images/n_l_ico_30.gif) left center no-repeat;}
.n_c_l_02_item ul li a:hover{ color: #1061af; padding-left: 23px; background: url(../images/n_l_ico_hover_33.gif) 13px center no-repeat;}
.n_c_more{ position: absolute; width: 37px; height: 14px; background: url(../images/n_more_bg_30.png) left top no-repeat; right: 0; top: 0; overflow: hidden; text-indent: -999px;}
.n_c_r{ width: 236px; float: right;}
.search_box{ width: 236px; height: 34px;}
.s_input{ display: block; float: left; width: 167px; height: 32px; line-height: 32px; padding: 0 5px; border: 1px solid #d0d0d0; border-right: none;}
.s_btn{ display: block; width: 57px; height: 34px; float: left;}
.hot_k{ height: 33px; line-height: 33px; text-align: left; padding-left: 3px; color: #ca5f10;}
.hot_k a{ margin: 0 3px; color: #1577bd;}
.hot_k a:hover{ text-decoration: underline;}
.n_c_r_title{ width: 100%; height: 36px; line-height: 36px; font-size: 0;}
.n_c_r_title a{ display: block; width: 50%; float: left; background: #eff8ff; color: #043462; font-size: 14px; transition: none;}
.n_c_r_title a.current{ height: 34px; border-top: 2px solid #77ae0d; background: #FFFFFF;}
.n_c_r_cont{ padding-top: 12px;}
.n_c_r_item{ display: none;}
.n_c_r_item.current{ display: block;}
.n_c_r_item_h_box{ height: 90px; overflow: hidden; text-align: left;}
.n_c_r_hn_img{ float: left; width: 90px; height: 90px; margin-right: 13px;}
.n_c_r_hn_img img{ display: block; width: 88px; height: 88px; border: 1px solid #dedede;}
.n_c_r_item_h_box h4{ font-size: 14px; color: #3569a9;}
.n_c_r_item_h_box h4 a{ color: #3569a9;}
.n_c_r_item_h_box h4 a:hover{ text-decoration: underline;}
.n_c_r_item_h_box p{ font-size: 12px; color: #a9a9a9; line-height: 20px; padding-top: 5px;}
.n_c_r_item ul{ margin-top: 10px; text-align: left;}
.n_c_r_item ul li{ line-height: 26px; color: #515151;}
.n_c_r_item ul li a{ color: #515151;}
.n_c_r_item ul li a:hover{ color: #1061af;}

.banenr_03_box{ width: 1002px; height: 139px; margin: 18px auto 0 auto; position: relative;}
.banner03_s_box{ width: 1002px; height: 139px; overflow: hidden;}
.banenr_03_box img{ display: block; width: 1002px; height: 139px;}

.team_cont_01{ width: 1002px; margin: 5px auto 0 auto; position: relative;}
.cont_title{ height: 36px; line-height: 36px; border-bottom: 2px solid #206f96; text-indent: 10px; text-align: left; font-size: 16px; color: #043462;}
.cont_title a{ color: #043462;}
.team_list{ padding-top: 26px; height: 160px;}
.team_list li{ width: 312px; height: 160px; float: left; margin-right: 32px; text-align: left;}
.t_fl_img{ width: 160px; height: 160px; margin-right: 20px; float: left;}
.t_fl_img img{ display: block; width: 158px; height: 158px; border: 1px solid #e7e7e7;}
.team_list li h3{ font-weight: normal; color: #282828; font-size: 14px; padding: 5px 0;}
.team_list li h3 a{ color: #282828;}
.team_list li p{ font-size: 12px; line-height: 20px; color: #797979;}
.news_cont_02{ width: 1002px; margin: 29px auto 0 auto; overflow: hidden;}
.news_cont_02 div.fl{ width: 328px; height: 361px;}
.n_c02_l_title{ width: 100%; height: 31px; line-height: 31px; border-bottom: 2px solid #206f96; text-indent: 10px; text-align: left; font-size: 16px; color: #043462;}
.q_f_box{ overflow: hidden;}
.f_title{ width: 52px; height: 318px; float: left; background: #339ddb; padding-top: 10px;}
.f_title p{ width: 52px; height: 34px;}
.f_title p a{ display: block; padding-top: 5px; height: 29px;}
.f_title p a.current{ background: url(../images/f_h_bg_47.gif) left top no-repeat;}
.f_title p a img{ display: block; margin: 0 auto; width: 33px; height: 24px;}
.f_d_cont{ width: 264px; float: right;}
.f_d_c_item{ display: none; height: 328px; overflow: hidden;}
.f_d_c_item.current{ display: block;}
.f_d_c_item ul{ width: 264px; height: 326px; overflow: hidden;}
.f_d_c_item ul li{ width: 58px; height: 92px; float: left; padding-top: 17px; margin-right: 10px; border-bottom: 1px dashed #cfcfcf;}
.f_d_c_item ul li img{ display: block; width: 56px; height: 56px; border: 1px solid #bababa;}
.f_d_c_item ul li p{ color: #404040; letter-spacing: -1px; height: 24px; width:100%; overflow:hidden; text-overflow:ellipsis;}
.f_d_c_item ul li a:hover img{ border: 1px solid #339ddb;}
.f_d_c_item ul li a:hover p{ color: #339ddb;}
.news_cont_02 div.fr{ width: 656px; height: 361px;}
.f_r_title{ width: 100%; height: 31px; line-height: 31px; border-bottom: 2px solid #206f96; text-align: left; font-size: 14px;}
.f_r_title a{ display: block; height: 30px; border: 1px solid #e4e4e4; border-bottom: none; float: left; margin-right: 5px; color: #555555; padding: 0 9px;}
.f_r_title a.current{ border: 1px solid #206f96;}
.f_r_cont_box{ padding-top: 26px;}
.f_r_b_item{ width: 100%; height: 304px; overflow: hidden; display: none;}
.f_r_b_item.current{ display: block;}
.f_r_b_cont{ height: 83px; width: 100%; margin-bottom: 20px;}
.f_r_b_left{ width: 150px; height: 83px; float: left;}
.f_r_b_left img{ display: block; width: 150px; height: 83px;}
.f_r_b_right{ width: 482px; height: 83px; text-align: left; float: right;}
.f_r_b_right h4{ font-size: 14px;}
.f_r_b_right h4 a{ color: #106db6;}
.f_r_b_right ul{ overflow: hidden; margin-top: 3px;}
.f_r_b_right ul li{ line-height: 20px; width: 50%; float: left;}
.f_r_b_right ul li a{ color: #606060;}
.f_r_b_right ul li a:hover{ color: #1061af;}
.exam_cont_box{ width: 1002px; margin: 10px auto 0 auto;}
.exam_list_box{ width: 100%; overflow: hidden; padding-top: 14px;}
.exam_list_box li{ width: 243px; float: left; margin-right: 10px; margin-bottom: 5px;}
.exam_l_img_box{ width: 243px; height: 124px; overflow: hidden; position: relative;}
.exam_l_img_box img{ display: block; width: 243px; height: 124px;}
.exam_l_img_box span{ display: block; width: 100%; height: 27px; line-height: 27px; background: url(../images/mask_51.png); position: absolute; left: 0; bottom: -27px; z-index: 2; color: #FFFFFF; transition: all 0.6s 0s ease;}
.exam_list_box li.on .exam_l_img_box span{ bottom: 0;}
.exam_l_news_box{ padding-top: 10px; height: 66px;}
.exam_l_news_box p{ line-height: 22px; text-align: left;}
.exam_l_news_box p a{ color: #515151; padding-left: 9px; background: url(../images/n_l_ico_30.gif) left center no-repeat;}
.exam_l_news_box p a:hover{ color: #1061af; padding-left: 23px; background: url(../images/n_l_ico_hover_33.gif) 13px center no-repeat;}
.ex_cont_box{ width: 1002px; margin: 0px auto 0 auto;}
a.cont_more{ float: right; font-size: 12px; color: #8d9195; padding-right: 10px;}
.cont_more:hover{ color: #1061AF; text-decoration: underline;}
.ex_list{ margin-top: 6px; overflow: hidden;}
.ex_list li{ width: 242px; padding-top: 17px; float: left; margin-right: 11px;}
.fl_list{ width: 100%; overflow: hidden; margin-top: 14px;}
.fl_list li{ width: 249px; height: 90px; padding: 8px 0; border-right: 1px dashed #cfcfcf; float: left; text-align: left;}
.fl_list li p{ padding-left: 30px; line-height: 22px;}
.fl_list li p a{ color: #043462;}
.fl_list li p a:hover{ text-decoration: underline;}

.fl_list.fl_l_box{ width: 1002px; margin: 20px auto; padding-bottom: 40px;}
.fl_list.fl_l_box li{ height: auto; min-height: 250px;}
.fl_list.fl_l_box li p{ line-height: 34px;}

.foot_wrapper{ width: 100%; background: #eef3f6; margin: 16px 0 0 0;}
.foot_box{ width: 1002px; height: 265px; margin: 0 auto; background: url(../images/f_logo_bg_54.gif) left top no-repeat;}
.foot_box div.fl{ width: 490px; height: 265px; position: relative;}
.f_logo{ position: absolute; left: 19px; top: 38px;}
.foot_f_list{ width: 270px; position: absolute; right: 0px; top: 30px;}
.foot_f_list li{ width: 90px; float: left; margin-bottom: 12px;}
.foot_f_list li img{ display: block; width: 48px; height: 35px; margin: 0 auto;}
.foot_f_list li p{ height: 30px; line-height: 30px; font-size: 12px; color: #5d5e5e;}
.foot_f_list li a:hover p{ text-decoration: underline;}
.f_adress_box{ float: right; width: 466px; height: 245px; padding: 10px 0; background: url(../images/f_city_bg_img_55.gif) 8px bottom no-repeat; position: relative;}
.f_a_text_box{ border-left: 1px dashed #c2c4c6; height: 220px; padding-left: 34px; text-align: left; padding-top: 25px;}
.f_a_text_box p.f_t_tel{ font-size: 32px; font-family: arial; color: #ce630c; font-weight: bold; line-height: 1.2em;}
.f_a_text_box p.f_t_adress{ font-size: 16px; color: #bc5d10;}
.f_a_text_box p{ color: #5b5b5b;}
.f_a_text_box p a{ color: #5b5b5b;}
.f_a_text_box p a:hover{ text-decoration: underline;}
.f_nav_box{ width: 113px; height: 238px; padding-top: 27px; background: #85bee0; position: absolute; right: 0; top: 0; z-index: 5;}
.f_nav_box p{ text-align: left; line-height: 30px; color: #FFFFFF; padding-left: 26px;}
.f_nav_box p a{ color: #FFFFFF}
.f_nav_box p a:hover{ text-decoration: underline;}
.f_n_t_img{ position: absolute; top: -11px; right: 0;}

.site_i_t_wrapper{ width: 100%; height: 60px; border-bottom: 1px solid #e5e5e5;}
.t_f_img{ float: left; display: block; width: 48px; height: 34px; padding-top: 13px; margin-right: 15px;}
.t_f_title_text{ height: 60px; line-height: 60px; font-size: 18px; color: #1b6ba3; float: left;}
.t_f_crumbs{ float: right; height: 60px; line-height: 70px; text-align: right; color: #1b6ba3;}
.t_f_crumbs a{ color: #1b6ba3;}
.t_f_crumbs a:hover{ text-decoration: underline;}
.site_i_cont01_box{ width: 1002px; height: 320px; margin: 20px auto 0 auto; overflow: hidden;}
.s_c_fl_n_box{ width: 250px; float: left; margin-right: 10px;}
.s_c_title_box{ width: 250px; height: 36px; border-bottom: 1px solid #cfcfcf;}
.s_c_title_box h4{ color: #1b6ba3; font-size: 16px; float: left;}
.s_c_title_box a{ font-size: 12px; color: #747474; float: right;}
.s_c_title_box a:hover{ color: #1b6ba3;}
.s_c_fl_n_box ul{ text-align: left; margin-top: 5px;}
.s_c_fl_n_box ul li{ line-height: 28px; color: #6c6c6c;}
.s_c_fl_n_box ul li a{ color: #6c6c6c;}
.s_c_fl_n_box ul li a:hover{ color: #0b7fd0;}
.s_i_banner{ float: left; width: 482px; height: 320px;}
.s_i_banner img{ display: block; width: 480px; height: 318px; border: 1px solid #e2e2e2;}
.s_i_e_box{ width: 250px; float: right;}
.s_i_e_title{ width: 100%; height: 28px; line-height: 28px;}
.s_i_e_title h4{ color: #1b6ba3; font-size: 16px; float: left; padding-left: 5px;}
.s_i_e_title a{ font-size: 12px; color: #747474; float: right;}
.s_i_e_title a:hover{ color: #1b6ba3;}
.s_i_e_box ul li{ margin-top: 7px;}
.site_i_cont02_box{ width: 1002px; margin: 9px auto 0 auto;}
.s_i_cont_title{ width: 100%; height: 38px; line-height: 38px; border-bottom: 1px solid #cfcfcf;}
.s_i_cont_title h4{ float: left; font-size: 16px; font-weight: bold; color: #1b6ba3;}
.s_i_cont_title a{ font-size: 12px; color: #1b6ba3; float: right;}
.s_i_cont_title a.c_gray{ color: #747474;}
.s_i_cont_title a:hover{ text-decoration: underline;}
.s_i_cont_title a.c_gray:hover{ color: #1b6ba3; text-decoration: underline;}
.s_i_ex_list{ width: 100%; height: auto; overflow: hidden; padding-top: 20px;}
.s_i_ex_list li{ width: 237px; height: 60px; float: left; border-right: 1px dashed #cbcbcb; margin-right: 16px; padding-bottom: 25px; text-align: left;}
.s_i_ex_list li div{ float: left; width: 60px; height: 60px; float: left; margin-right: 13px;}
.s_i_ex_list li div img{ display: block; width: 58px; height: 58px; border: 1px solid #bababa;}
.s_i_ex_list li .s_i_ex_p01{ font-size: 12px; color: #656565; padding-top: 5px; line-height: 20px;}
.s_i_ex_list li .s_i_ex_p02{ font-family: arial; color: #656565; line-height: 20px;}
.s_i_ex_list li a:hover p{ color: #0B7FD0;}
.s_i_ex_list li a:hover img{ border: 1px solid #0B7FD0;}
.site_i_cont03_box{ width: 1002px; margin: 16px auto 0 auto; overflow: hidden;}
.s_i_intro_box{ width: 318px; height: 309px; float: left; margin-right: 24px; overflow: hidden;}
.s_i_intro_box.mr_n{ margin-right: 0;}
.s_i_cont_d{ font-size: 14px; text-align: left; color: #6c6c6c; line-height: 26px; padding-top: 5px;}
.site_i_cont04_box{ width: 1002px; margin: 0 auto 30px auto; overflow: hidden;}
.s_i_c04_l{ width: 658px; float: left;}
.s_i_c04_l ul{ width: 100%; overflow: hidden;}
.s_i_c04_l ul li{ width: 50%; float: left; text-align: left;}
.s_i_c04_l ul li div{ width: 280px; margin: 0 auto 10px 0;}
.s_i_c04_l ul li div h4{ font-size: 14px; color: #2a7bcc; padding: 20px 0 5px 0;}
.s_i_c04_l ul li div h4 a{ color: #2a7bcc;}
.s_i_c04_l ul li div h4 a:hover{ text-decoration: underline;}
.s_i_c04_l ul li div p{ font-size: 12px; color: #989898; line-height: 20px;}
.s_i_c04_l ul li p{ line-height: 24px; font-size: 14px;}
.s_i_c04_l ul li p a{ color: #595959;}
.s_i_c04_l ul li p a:hover{ color: #1B6BA3;}
.s_i_c04_r{ width: 313px; float: right;}
.s_i_c04_r ul{ margin-top: 15px;}
.s_i_c04_r ul li{ width: 100%; height: 26px; line-height: 26px; overflow: hidden;}
.s_i_c04_r ul li a{ color: #575757;}
.s_i_c04_r ul li a:hover span{ color: #0B7FD0;}
.s_i_c04_r ul li a span.fl{ font-size: 14px;}
.s_i_c04_r ul li a span.fr{ font-family: arial;}

.s_i_d_box{ width: 1002px; margin: 10px auto 40px auto; overflow: hidden;}
.s_i_t_box{ width: 100%; height: 40px; line-height: 40px; text-align: left; border-bottom: 1px solid #cfcfcf; text-indent: 5px; font-size: 16px; font-weight: bold; color: #1b6ba3;}
.s_i_t_box.b_l_blue{border-bottom: 1px solid #2180c2;}
.s_i_d_tbox{ margin: 10px 0 20px 0; font-size: 14px; line-height: 30px; text-align: left; color: #4f4f4f; padding: 0 15px;}
.s_i_d_blink{ display: block; width: 107px; height: 38px; line-height: 38px; background: #1b6ba3; color: #FFFFFF; font-size: 14px; margin: 50px auto 20px auto;}
.s_i_d_blink:hover{ background: #268bd2;}
.in_cont_left{ width: 742px;}
.in_cont_l_title{ padding-left: 5px; height: 36px; line-height: 36px; text-align: left; font-size: 16px; font-weight: bold; color: #1b6ba3; border-bottom: 1px solid #2180c2;}
.in_ex_list{ padding: 0 24px;}
.in_ex_list li{ width: 100%; position: relative; height: 86px; padding: 27px 0; overflow: hidden; border-bottom: 1px dashed #c7c7c7; text-align: left;}
.d_more{ display: block; position: absolute; right: 0; top: 27px; width: 75px; height: 26px; line-height: 26px; text-align: center; background: #1b6ba3; color: #FFFFFF; font-size: 14px;}
.in_ex_list li div.fl{ width: 86px; height: 86px; float: left; margin-right: 23px;}
.in_ex_list li div.fl img{ display: block; width: 84px; height: 84px; border: 1px solid #e6e6e6;}
.in_ex_list li h4{ height: 30px; line-height: 30px; font-size: 16px;}
.in_ex_list li h4 a{ color: #363636;}
.in_ex_list li h4 a:hover{ text-decoration: underline;}
.in_ex_list li p{ font-size: 12px; line-height: 22px; color: #717171; padding-top: 10px; height: 44px; overflow: hidden;}
.s_i_title_box.news_title_box{ padding: 15px 0 25px 0;}
.s_i_d_tbox.news_d_box{ padding: 0 36px; margin: 20px auto 40px auto; color: #757575;}

.in_s_cont_right{ width: 250px;}
.s_c_fl_n_box.in_s_r{ float: none; margin: 0;}
.s_c_fl_n_box.in_s_r .s_c_title_box{padding: 0 5px; width: 240px; line-height: 36px; border-bottom: 2px solid #1b6ba3;}
.in_s_pro{ margin: 10px 0 0 0;}
.in_s_pro .s_c_title_box{padding: 0 5px; width: 240px; line-height: 36px; border-bottom: 2px solid #1b6ba3;}
.in_s_pro ul{overflow: hidden; height: 455px;}
.in_s_pro ul li{ width: 83.3px; padding: 17px 0 14px 0; border-bottom: 1px dashed #cfcfcf; float: left;}
.in_s_pro ul li img{ display: block; width: 56px; height: 56px; border: 1px solid #bababa; margin: 0 auto;}
.in_s_pro ul li p{ font-size: 12px; color: #404040; height: 24px; overflow: hidden;}
.in_s_pro ul li a:hover img{ border: 1px solid #0B7FD0;}
.in_s_pro ul li a:hover p{ color: #0B7FD0;}
.s_i_title_box{ width: 100%; margin: 0 auto; padding: 40px 0 15px 0; border-bottom: 1px solid #cccccc;}
.s_i_title_box h3{ font-size: 26px; line-height: 40px; height: 40px; color: #1b6ba3; font-weight: normal;}
.s_i_title_box p{ color: #828282; padding-top: 15px;}
.dt1{ padding-left: 24px; background: url(../images/ar_d_ico_03.gif) left center no-repeat;}
.dt2{ padding-left: 24px; background: url(../images/ar_d_ico_06.gif) left center no-repeat;}
.dt3{ padding-left: 24px; background: url(../images/ar_d_ico_08.gif) left center no-repeat;}
.s_i_contact_box{ width: 100%; height: 59px; line-height: 59px; margin: 0 auto; font-size: 16px; color: #989898; border-bottom: 1px solid #cccccc;}
.s_i_contact_box span{ font-weight: bold; color: #ce630c;}
.s_i_d_tbox.ex_d_box{ margin: 20px 0 20px 0; font-size: 16px; line-height: 40px; text-align: left; color: #828282;}
.in_case_list{ width: 100%;}
.in_case_list li{ padding: 15px 200px 15px 22px; position: relative; width: 520px; border-bottom: 1px dashed #d8d8d8;}
.in_case_list.news_list li{ width: 780px;}
.i_c_l_date{ text-align: left; text-indent: 23px; height: 24px; line-height: 24px; color: #989999; background: url(../images/ar_d_ico_03.gif) left center no-repeat;}
.in_case_list li h4{ font-size: 16px; text-align: left; font-weight: normal; line-height: 32px;}
.in_case_list li h4 a{ color: #1b6ba3;}
.i_c_l_intro{ text-align: left; color: #989999}
.b_date{ width: 64px; height: 64px; border-radius: 10px; background: #cecece; color: #FFFFFF; position: absolute; right: 18px; top: 23px;}
.b_date p{ font-family: impact; font-size: 36px; padding-top: 14px;}
.b_date span{ font-family: arial; font-size: 10px; -webkit-transform: scale(0.8); display: block;}
.pro_list li{ height: 58px; padding-top: 37px; overflow: hidden;}
.pro_t1{ float: left; width: 212px; height: 58px; padding-left: 31px; border-right: 1px solid #b8b8b8; text-align: left;}
.pro_t1 img{ float: left; display: block; width: 56px; height: 56px; border: 1px solid #bababa; margin-right: 15px;}
.pro_t1 p{ line-height: 18px; color: #404040;}
.pt5{ padding-top: 5px;}
.pro_t2{ float: left; padding-left: 20px; width: 380px; height: 60px; text-align: left; line-height: 20px; color: #838383; overflow: hidden; margin-right: 30px;}
.pro_list li a{ display: block; width: 40px; height: 40px; line-height: 40px; border-radius: 40px; text-align: center; color: #FFFFFF; font-size: 12px; margin-top: 7px; float: left; background: #0b7fd0;}
.pro_list li a:hover{ background: #299bea;}

.in_main_box{ width: 1002px; margin: 25px auto; overflow: hidden;}
.in_s_menu{ width: 171px; float: left;}
.in_s_menu ul{ width: 171px;}
.in_s_menu ul li{ height: 52px; line-height: 52px; text-align: left;}
.in_s_menu ul li a{ display: block; padding-left: 28px; color: #1b6ba3; font-size: 16px;}
.in_s_menu ul li a:hover, .in_s_menu ul li a.cur{ background: #1b6ba3; color: #FFFFFF;}
.in_cont_r_box{ width: 830px; border-left: 1px solid #e5e5e5; float: left;}
.about_d_cont{ text-align: left; font-size: 14px; color: #686868; line-height: 30px; padding: 0 42px;}
.adviser_list li{ width: 378px; padding-left: 37px; float: left; margin-bottom: 37px; overflow: hidden;}
.adviser_list li div.fl{ width: 160px;}
.adviser_list li div.fl img{ display: block; width: 158px; height: 158px; border: 1px solid #e7e7e7;}
.adviser_list li div.fl a:hover img{ border: 1px solid #0b7fd0;}
.adviser_list li div.fr{ width: 198px; padding-top: 5px; text-align: left;}
.adviser_list li div.fr h4{ font-weight: normal; color: #282828; line-height: 26px; height: 26px; font-size: 16px;}
.adviser_list li div.fr p{ font-size: 12px; line-height: 22px; color: #797979; height: 88px; overflow: hidden; margin-top: 5px;}
.adviser_list li div.fr a{ display: block; width: 78px; height: 26px; line-height: 26px; background: #0b7fd0; color: #FFFFFF; text-align: center; margin: 10px 0 0 auto;}
.adviser_d_img{ width: 463px; height: 343px; padding: 2px 0; margin: 0 auto 60px auto; position: relative; background: url(../images/adviser_img_bg_03.gif) left top no-repeat;}
.adviser_d_img img{ display: block; width: 343px; height: 343px; margin: 0 auto;}
.adviser_d_img p{ width: 436px; height: 56px; background: url(../images/ribbon_03.png) left top no-repeat; position: absolute; left: 50%; margin-left: -218px; bottom: -14px; font-size: 20px; line-height: 40px; color: #FFFFFF;}
.adviser_d_text{ width: 616px; font-size: 14px; line-height: 30px; color: #5f5f5f; text-align: left; margin: 0 auto;}
.contact_box{ width: 786px; margin: 0 auto; padding-bottom: 40px;}
.map_box{ width: 786px; height: 316px;}
.map_box img{ display: block; width: 786px; height: 316px;}
.contact_t_box{ font-size: 14px; line-height: 30px; color: #4d4d4d; text-align: left; padding-left: 10px; margin-top: 15px;}
.im_list{ width: 1002px; margin: 0 auto; padding-top: 25px; overflow: hidden;}
.im_list li{ width: 175px; height: 139px; float: left; margin-right: 31px; margin-bottom: 40px;}
.im_img_box { width: 175px; height: 104px;}
.im_img_box a{ width: 165px; height: 94px; border: 1px solid #d5d5d5; padding: 4px; display: block; position: relative;}
.im_img_box a span{ display: block; width: 165px; height: 94px; overflow: hidden; position: relative;}
.im_img_box a span img{ display: block; width: 165px; height: 94px; -webkit-transition: -webkit-transform .3s ease;	-moz-transition: -moz-transform .3s ease; -ms-transition: -ms-transform .3s ease; transition: transform .3s ease;}
.im_img_box a span i{ display: none; position: absolute; width: 165px; height: 94px; left: 0; top: 0; z-index: 5; background: url(../images/mask_03.png) center center no-repeat;}
.im_img_box a:hover span img{ -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2);	transform: scale(1.2);}
.im_img_box a:hover i{ display: block;}
.im_list li p{ height: 35px; line-height: 35px; font-size: 14px;}
.im_list li p a{ color: #434343;}
.im_list li p a:hover{ color: #0B7FD0; text-decoration: underline;}
.im_list.im_d_list li{ margin-bottom: 20px; height: 176px;}
.im_list.im_d_list li p{ height: 33px; line-height: 33px; font-size: 14px;}
.im_list.im_d_list li p.im_l_tip{ height: 42px; line-height: 14px; font-size: 12px; color: #a5a5a5;}
.im_d_titlt_box{ width: 1002px; height: 90px;}
.im_d_titlt_box div.fl{ padding: 15px 15px 0 5px; height: 75px; border-right: 1px dashed #bebebe;}
.im_d_titlt_box div.fl p.fl{ font-size: 20px; color: #2f2f2f; line-height: 24px; padding-left: 13px;}
.en_blue{ clear: both; font-size: 24px; color: #0b70b6; font-family: impact; margin-top: 10px;}
.im_d_intro{ float: left; height: 80px; overflow: hidden; padding: 10px 0px 0 26px; width: 746px;}
.im_d_intro p{ font-size: 14px; color: #5d5d5d; line-height: 22px; text-align: left;}
.im_fl_menu{ width: 215px; border: 2px solid #e2e3e4; float: left;}
.im_f_title_box{ height: 46px; line-height: 46px;  margin: 0 auto; border-bottom: 1px dashed #e5e5e5; padding: 0 10px;}
.im_f_title_box img{ padding-top: 10px;}
.im_f_title_box p{ font-size: 16px; color: #434343; text-align: left; float: left; padding-left: 10px;}
.im_fl_menu ul{ line-height: 36px; text-align: left; font-size: 14px; color: #434343; padding: 10px 0 30px 19px;}
.im_fl_menu ul li a{ color: #434343; padding-left: 9px; background: left center no-repeat;}
.im_fl_menu ul li a:hover{ color: #1b6ba3; background: url(../images/im_f_l_ico_03.gif) left center no-repeat;}
.im_fr_cont{ width: 710px; padding: 0 28px; float: right;}
.im_f_c_title{ font-size: 20px; height: 76px; line-height: 76px; color: #434343;}
.im_f_c_d{ text-align: left; font-size: 14px; color: #434343; line-height: 26px; margin-top: 10px;}
.s_l_t_box{ padding-bottom: 44px; border-bottom: 1px dashed #b4b4b4; width: 962px; margin: 0 auto;}
.s_l_t_text{ text-align: left; color: #1b6ba3; line-height: 28px;}
.s_l_t_box table{ width: 100%;}
.s_l_t_box table td{ vertical-align: middle;}
.s_l_t_box table td.s_l_t_01 img{ display: block;}
.s_l_t_box table td.s_l_t_02{ padding: 0 23px; font-size: 14px; line-height: 22px; text-align: left; color: #737373;}
.s_l_t_box table td.s_l_t_02 span{ color: #9d0606; font-weight: bold;}
.s_l_t_box table td.s_l_t_03 a{ display: block; width: 195px; height: 44px; line-height: 44px; font-size: 14px; color: #FFFFFF; background: #0b7fd0;}
.s_l_t_box table td.s_l_t_03 a:hover{ background: #2092e1;}
.sl_list{ padding: 28px 0 0 24px; width: 938px; overflow: hidden; margin: 0 auto;}
.sl_list li{ width: 264px; height: 244px; float: left; margin-right: 60px; margin-bottom: 42px;}
.sl_list li img{ width: 264px; height: 244px; display: block;}
.sl_l_m{ width: 202px; float: left;}
.sl_l_m ul li{ width: 200px; border: 1px solid #d9d9d9; margin-bottom: 4px; padding: 6px 0;}
.sl_l_m ul li img{ display: block; margin: 0 auto;}
.sl_l_m ul li img.sl_m_img_01{ display: none;}
.sl_l_m ul li a.cur img.sl_m_img_01{ display: block; padding: 4px 0;}
.sl_r_list_cont{ width: 787px; float: right; border-left: 1px solid #d9d9d9;}
.sl_r_list{ padding-left: 32px; text-align: left;}
.sl_r_list li{ height: 50px; line-height: 50px; font-size: 16px;}
.sl_r_list li a{ color: #333333;}
.sl_r_list li a:hover{ color: #0B70B6;}
.news_i_title{ width: 1002px; border-bottom: 1px solid #1b6ba3; text-align: left; margin: 0 auto; height: 45px; line-height: 45px;}
.news_i_title p{ font-size: 16px; color: #1b6ba3; font-weight: bold;}
.news_c_box{ width: 1002px; margin: 0 auto 10px auto; overflow: hidden;}
.news_l_s_box{ width: 300px; float: left;}
.news_l_b_item{ margin-bottom: 10px;}
.news_l_title{ height: 45px; line-height: 45px; border-bottom: 1px solid #1b6ba3; overflow: hidden;}
.news_l_title h3{ float: left; padding-left: 5px; font-size: 16px; color: #1b6ba3; font-weight: bold;}
.news_l_title a{ float: right; color: #7c7c7c; padding-right: 5px; line-height: 50px;}
.news_l_title a:hover{ color: #1b6ba3; text-decoration: underline;}
.news_h_box{ padding: 0 5px; text-align: left; margin-top: 8px;}
.news_h_box h4{ height: 32px; line-height: 32px; font-size: 14px;}
.news_h_box h4 a{ color: #15538f;}
.news_h_box h4 a:hover{ text-decoration: underline;}
.news_h_box p{ line-height: 20px; color: #949494;}
.news_l_list { margin-top: 5px;}
.news_l_list li{ line-height: 28px; text-align: left;}
.news_l_list li a{ color: #515151;}
.news_l_list li a:hover{ color: #0B70B6; text-decoration: underline;}
.news_r_s_box{ width: 684px; float: right;}
.n_r_t_box{ width: 684px; overflow: hidden;}
.n_r_t_box_item{ width: 300px; height: auto; min-height:100px;}
.news_r_box_item{ width: 100%; margin-top: 28px;}
.news_r_box_item.mt10{ margin-top: 10px;}
.news_r_item_title{ width: 100%; height: 24px; overflow: hidden; border-bottom: 1px solid #81b10e}
.news_r_item_title.t1{ border-bottom: 1px solid #81b10e}
.news_r_item_title.t2{ border-bottom: 1px solid #e98b05}
.news_r_item_title.t3{ border-bottom: 1px solid #d82e1c}
.news_r_item_title span{ float: left; display: block; width: 59px; height: 24px; line-height: 24px; background: #81b10e; color: #FFFFFF; font-size: 14px; text-align: center;}
.news_r_item_title.t1 span{ background: #81b10e;}
.news_r_item_title.t2 span{ background: #e98b05;}
.news_r_item_title.t3 span{ background: #d82e1c;}
.news_r_item_title a{ font-size: 12px; color: #b7b7b7; float: right;}
.news_r_item_title.t1 a:hover{ color: #81b10e; text-decoration: underline;}
.news_r_item_title.t2 a:hover{ color: #e98b05; text-decoration: underline;}
.news_r_item_title.t3 a:hover{ color: #d82e1c; text-decoration: underline;}
.news_s_list_box{ padding-top: 20px; overflow: hidden; height: 229px;}
.news_s_img{ width: 183px; float: left;}
.news_s_img img{ display: block; width: 183px; height: 105px;}
.nsi01{ margin-bottom: 19px;}
.news_s_list_box ul{ width: 472px; float: right; text-align: left;}
.news_s_list_box ul li{ width: 236px; float: left; line-height: 29px;}
.news_s_list_box ul li a{ color: #515151; padding-left: 9px; background: url(../images/n_l_ico_30.gif) left center no-repeat;}
.news_s_list_box ul li a:hover{ color: #1061af; padding-left: 23px; background: url(../images/n_l_ico_hover_33.gif) 13px center no-repeat;}

.ra_l_box{ margin:30px auto 10px auto}
.ra_l_box p{ font-size:14px; text-align:left; color:#333333; line-height:30px}
.ra_l_box p a{ color:#383737;}
.ra_l_box p a:hover{ color:#990000;}

.float_r_box{ width: 57px; border: 1px solid #e6e6e6; border-radius: 8px; position: fixed; right: 20px; top: 50%; z-index: 30; padding: 6px 0 0 0; background: #FFFFFF;}
.f_flag_btn{ padding: 6px 0;}
.f_flag_btn img{ display: block; margin: 0 auto; width: 37px; height: 27px;}
.float_r_l_box{ width: 50px; margin: 10px auto 0 auto; padding: 13px 0; border-top: 1px dashed #b9b8b8;}
.f_r_item_box{ width: 21px; height: 21px; margin: 0 auto 19px auto; position: relative;}
.f_go_top{ display: block; width: 21px; height: 21px; background: url(../images/f_r_ico_48.gif) center center no-repeat;}
.f_menu{ display: block; width: 21px; height: 21px; background: url(../images/f_r_ico_51.gif) center center no-repeat;}
.f_ewm{ display: block; width: 21px; height: 21px; background: url(../images/ewm_img_53.gif) center center no-repeat;}
.f_sub_menu_list{ position: absolute; right: 20px; top: -65px; padding-right: 30px; display: none;}
.f_sub_menu_list li{ height: 29px; line-height: 29px; color: #949494; background: #FFFFFF; width: 78px; text-align: center; border: 1px solid #DEDEDE; border-bottom: none;}
.f_sub_menu_list li a{ color: #949494; display: block; height: 29px; line-height: 29px;}
.f_sub_menu_list li a:hover{ color: #1B6BA3; background: #E5E5E5;}
.ewm_img{ position: absolute; right: 50px; top: -40px; display: none;}


/*分页*/
.pages {height:46px;text-align:right;padding:30px 0;background:none;clear:both;float:left;padding-left:10px;}
.pageMoreTop {font-size:14px;color:#333;line-height:34px;text-align:center;width:640px;height:34px; clear:both;}
.pageMoreTop ul { text-align:center;padding:5px;}
.pageMoreTop ul li { float:left; margin-right:5px;font-size:12px; display:block;font-family:"microsoft yahei";}
.pageMoreTop .no_link { font-size:12px;text-decoration:none; color:#cccccc; width:70px; display:block;border:1px solid #c9c9c9;}
.pageMoreTop ul li a { font-size:12px;text-decoration:none;background:#FFFFFF; color:#666666; width:34px; display:block;border:1px solid #e5e5e5;}
.pageMoreTop ul li a:hover {background:#145290; color:#FFFFFF; text-decoration:none; border:1px solid #145290; }
.pageMoreTop ul li.down a { font-size:12px;text-decoration:none; color:#666666; width:70px; display:block;border:1px solid #e5e5e5;}
.pageMoreTop ul li.end a { font-size:12px;text-decoration:none; color:#145290; width:70px; display:block; border:1px solid #c9c9c9;}
.pageMoreTop ul li.down a:hover { font-size:12px;text-decoration:none; color:#FFFFFF; width:70px; display:block;border:1px solid #145290;}
.pageMoreTop ul li.end a:hover { font-size:12px;text-decoration:none; color:#FFFFFF; width:70px; display:block; border:1px solid #145290;}
.pageMoreTop ul li.linkOn {color:#FFFFFF; text-decoration:none; background:#145290; width:34px; display:block;border:1px solid #145290;}
.pageMoreTop ul li.linkOn a{ border: none;}
.pageMoreTop ul li.linkOn span{ color:#FFFFFF;}

